<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">

    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
            title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
            title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% if EXTRA_HEADER %}
        {{ EXTRA_HEADER }}
    {% endif %}

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ SITEURL }}/favicon.png" rel="icon">
   <!-- css -->
    {% if article %}
    {% assets filters="sass,cssmin", output="css/article.min.css", "css/all.sass", "css/article.sass" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% else %}
    {% assets filters="sass,cssmin", output="css/double.min.css", "css/all.sass", "css/double_collumn.sass" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% endif %}

    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}


    {% if article %}
        <!-- Using MathJax, with the delimiters $ -->
        <!-- Conflict with pygments for the .mo and .mi -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        "HTML-CSS": {
        styles: {
        ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
        },
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],processEscapes: true}
        });
        </script>

        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    {% endif %}
</head>

<body>
   <div class="wrapper">
    {% block entirebody %}{% endblock %} <!--  -->
    <footer class="window"role="contentinfo">
       <small>
           Themestructure from <a href="https://github.com/eevee/eev.ee">here</a>,
           therefore all theme stuff is licensed under <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0</a>.
            <!-- So legally I have to say thanks lexy munroe -->
           Powered by <a href="http://docs.getpelican.com/en/3.3.0/">Pelican</a>.
            <a href="https://github.com/jappeace/jappeaceApplication">Source code</a>,
            licensed under GPLv3.

            Consider sending ether to <pre>0xD44354d00aef5CEaE12f0Ec41E237d0f48e51baC</pre>.
       </small>
    </footer>
   </div>
</body>
</html>
