<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">
    <meta charset="utf-8" /> <!--  mah chinese -->

    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
            title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
            title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% if EXTRA_HEADER %}
        {{ EXTRA_HEADER }}
    {% endif %}

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ SITEURL }}/favicon.png" rel="icon">
    {% assets filters="sass,cssmin", output="css/base.min.css", "css/base.sass" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    <!-- css -->
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}


    {% if article %}
        <!-- Using MathJax, with the delimiters $ -->
        <!-- Conflict with pygments for the .mo and .mi -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        "HTML-CSS": {
        styles: {
        ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
        },
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],processEscapes: true}
        });
        </script>

        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    {% endif %}

    {% if not page %} <!-- don't show adds on pages, only articles -->
    <!-- google addsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3988909265718589",
              enable_page_level_ads: true
        });
    </script>
   {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics
        Lets just track whoever enters the website, it may be intersesting
    -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120139048-1"></script>
   <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-120139048-1');
   </script>
  {% if article %}
  {% assets filters="sass,cssmin", output="css/article.min.css", "css/all.sass", "css/article.sass" %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  {% else %}
  {% assets filters="sass,cssmin", output="css/double.min.css", "css/all.sass", "css/double_collumn.sass" %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  {% endif %}
</head>

<body>
    {% block entirebody %}{% endblock %} <!-- I guess al information -->
    <footer class="window"role="contentinfo">
	<p>
       <ul class="footlinks">
	<li><a href="https://www.linkedin.com/in/jappie-klooster-1b8b4850/">Linkedin</a></li>
	<li><a href="https://www.twitch.tv/jappiejappie">Twitch</a></li>
	<li><a href="https://www.youtube.com/channel/UCQxmXSQEYyCeBC6urMWRPVw">Youtube</a></li>
	<li><a href="https://github.com/jappeace">Github</a></li>
	<li><a href="http://penguin.engineer/">Penguin</a></li>
	<li><a href="https://raster.click/">Raster</a></li>
	<li><a href="https://www.facebook.com/jappie.kerk">Facebook</a></li>
	<li><a href="https://twitter.com/jappieklooster">Twitter</a></li>
	<li><a href="https://www.reddit.com/r/jappie/">Reddit</a></li>
	<li><a href="https://discord.gg/Hp4agqy">Discord</a></li>
	</ul>
	  </p>
	<p>
       <small>
            Consider sending ether to 0xD44354d00aef5CEaE12f0Ec41E237d0f48e51baC
       </small>
       </p>
	<p>
       <small>
         <a href="/atom"><img class="category-glyph" alt="Atom feed" src="/theme/images/atom-icon.svg" /></a>
         <!-- So legally I have to say thanks lexy munroe -->
         <!-- I think I filter out my thanks -->
           Powered by <a href="http://docs.getpelican.com/en/3.3.0/">Pelican</a>.
            <a href="https://github.com/jappeace/jappeaceApplication">Source code</a>,
            licensed under GPLv3.
       </small>
	  </p>

       <iframe id="my-face" src="/theme/images/face.html"></iframe>
    </footer>

    <!-- syntax highlighting, load as last -->
    {% assets filters="cssmin", output="css/syntax.min.css", "css/syntax.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
</body>
</html>
