{% macro category_glyph(catname, alttext) %}
<img class="category-glyph"
     src="{{ SITEURL }}/theme/images/category-{{ catname }}.svg"
     onerror="this.src='{{ SITEURL }}/theme/images/category-{{ catname }}.png'; this.onerror=null;"
     alt="[{{ alttext }}]"
/>
{% endmacro %}

{% macro article_head(article) %}
        <header>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title | striptags }}
                    {{ category_glyph(article.category) }}
                </a>
            </h1>
            <p class="meta">
              {{ article_time(article) }}
            </p>
        </header>
{% endmacro %}

{% macro article_time(article) %}
<time datetime="{{ article.date.isoformat() }}" pubdate>
  published: 
  {{ article.locale_date }} </time>
{% if article.modified %}
<time datetime="{{ article.modified.isoformat() }}" pubdate>
  , last modified:
  {{ article.locale_modified }}</time>
{% endif %}
{% endmacro %}

{% macro article_illustration(article) %}
{% if article.photo_image %}
<div class="prose-illustration">
    {% for name, photo, thumb in [article.photo_image] %}
    <img src="{{ SITEURL }}/{{ photo }}">
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro article_gallery(article) %}
{% if article.photo_gallery %}
<div class="gallery">
    {% for name, photo, thumb, exif, caption in article.photo_gallery %}
    <a href="{{ SITEURL }}/{{ photo }}" title="{{ caption }}" class="photo cboxElement"><img src="{{ SITEURL }}/{{ thumb }}"></a>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro article_footer(article) %}
<ul class="meta">
    <li class="byline author vcard">
        Posted by <span class="fn">{{ article.author }}</span>
        {% if article.category %}
        in <a class="category" href="{{ SITEURL }}/{{ article.category.url }}">
            {{ category_glyph(article.category) }} {{ article.category }}</a>
        {% endif %}
    </li>
    <li>{{ article_time(article) }}</li>
    {% if article.tags %}
    <li class="tags">
        {% for tag in article.tags %}
        <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
        {% endfor %}
    </li>
    {% endif %}
</ul>
{% endmacro %}

{% macro render_link(title, url, desc, class) %}
    <li class="{{ class }}">
        <a href="{{ url }}">
        <h3 class="bracket left-bracket">&lt;</h3>
        <div class="link">
            <h2>{{ title }}</h2>
            <p class="description">{{ desc }}</p>
        </div>
        <h3 class="bracket right-bracket" >&gt;</h3>
        </a>
    </li>
{% endmacro %}
