{% import '_lib.html' as lib with context %}

<nav>
<ul class="navigation">
    {% for linkdef in LINKS_EX %}
        {{ lib.render_link(*linkdef) }}
    {% endfor %}
    {% for page in PAGES %}
        {{ lib.render_link(
            title=page.metadata.get('home-title', page.title),
            url=SITEURL + "/" + page.url,
            color=page.metadata.get('home-color'),
            image=page.metadata.get('home-image'),
            desc=page.metadata.get('home-desc', ''),
        ) }}
    {% endfor %}
    {% for linkdef in SOCIAL_EX %}
        {{ lib.render_link(*linkdef) }}
    {% endfor %}
</ul>
</nav>
