{% extends 'base.html' %}
{% import '_lib.html' as lib with context %}

{% block title %}{{ article.title|striptags }} / {{ SITENAME }}{% endblock %}

{% block content %}
    <article class="single" role="article">
        <header>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title | striptags }}
                    {{ lib.category_glyph(article.category) }}
                </a>
            </h1>
            <p class="meta">{{ lib.article_time(article) }}</p>
        </header>

        <div class="entry-content">
            {{ lib.article_illustration(article) }}
            {{ article.content | add_abbr_tags }}
        </div>

        <small>{{ article.subreddit}}</small>
        {{ lib.article_gallery(article) }}

        <footer>
            {{ lib.article_footer(article) }}
            <div class="comments">
              {% for comment in comments %}
              {# TODO, recurse in sub comments #}
              <div class="comment">
                <span class="fn">{{ comment.author }} </span>
                {{ comment.content }}
              </div>
              {% endfor %}
            </div>
        </footer>
    </article>

   {#
    <section class="oh-wow-patreon">
        <a href="https://patreon.com/user?u=4695714">
            Liked this? Consider supporting me on patreon
        </a>
    </section>
    #}

    <section>
        <h1><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Recent stuff</a></h1>
        <ul id="recent_posts">
        {% for article in (all_articles or articles)[:8] %}
        <li class="post">
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ lib.category_glyph(article.category) }}
                {{ article.title|striptags }}
            </a>
        </li>
        {% endfor %}
        </ul>
    </section>

    <section>
        <h1><a href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a></h1>
        <div class="sidebar-tags">
        {% for tag, articles in tags | sort %}
        {% if articles | length > 1 %}
            <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endif %}
        {% endfor %}
        </div>
    </section>

    {#
    {% include '_includes/github.html' %}
    {% include '_includes/social.html' %}
    {% include '_includes/links.html' %}
    {% include '_includes/twitter_sidebar.html' %}
    {% include '_includes/gplus_sidebar.html' %}
    #}
{% endblock %}
