{% extends '_base.html' %}

{% block entirebody %}
    <header id="title" class="window" role="banner">
        <!-- you're probably intereseted in the logo if you see this,
             twas made with jp2a: https://csl.name/jp2a/
            -->
        <div id="logo"><pre>{% include '_logo.html' %}</pre></div>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    </header>
    <div id="main">
        {% include '_sidebar.html' %}
        <div class="window" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
