{% extends '_article_list.html' %}
{% import '_lib.html' as lib with context %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <h1 id="category-title">
        {% if FEED_ATOM %}
        <a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="subscribe-atom" class="category-atom">
            <img src="/theme/images/feed-icon-28x28.png" alt="Atom feed" title="Atom feed"></a>
        {% endif %}
        {{ lib.category_glyph("everything", "Everything") }} Everything
    </h1>

    {{ super() }}
{% endblock %}
