@font-face {
    font-family: 'Fira Mono'; /*a name to be used later*/
    src: url('FiraCode_Regular.ttf'); /*URL to font*/
}
*{
font-family: 'Fira Mono', monospace;
margin: 1%; /* so responsive */
padding: 0;
}
body{
    background:#3465a4;
    text-align:center;
}
.wrapper{
    margin-left: auto;
    margin-right:auto;
    text-align:left;
}
.window{
    background:#d3d7cf;
    color:#2e3436;
    border:2px solid #474d4d;
    font-size:small;
}
footer.window{
    text-align:center;
    width:100%;
}
#sidebar{
    width:20%;
}
#content{
    width:75%;
}
#main, nav ul li{
    clear:both;
    overflow:auto;
}
.padded{
    margin:2%;/* hehe, just kidding */
}
h1{
    font-size: large;
    color:#729fcf;
}
nav{
    text-align:center;
    border:2px solid #474d4d;
    margin-bottom:1em;
}
nav ul{
    list-style:none;
}
nav ul li{
    padding: 2px;
    margin:0;
}
nav ul li .description{
    font-size:xx-small;
}
nav ul li a, nav ul li h3, #sidebar, #content{
    float:left;
}
nav ul li a{
    width:80%;
    display:block;
}
nav ul li h3{
    width:5%;
    display:block;
    font-size:3em;
}
nav ul li:hover{
    color:#eeeeec;
    background:#3465a4;
}
p{
    margin-bottom:1em;
}
footer{
    font-size:xx-small;
}
footer ul li{
    width:49%;
}
ul.horizontal{
    list-style:none;
}
ul.horizontal li{
    text-align:left;
    display:inline-block;
}

#title {
    text-align:right;
}
#title h1{
    font-size:4em;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-left: 2em solid red;
    border-bottom: 1em solid transparent; }
.triangle-right {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 2em solid red;
    border-bottom: 1em solid transparent;
}