/* this is whatever css just to make it more fancy */
// some collours
$col-flash: #ffff54
$col-flash2: #54ffff
$col-flash3: #ff54ff
$col-dark: #1818b2
$col-contentbg: #d3d7cf
$col-border: #474d4d 
$col-text: #2e3436
$col-link: black
$col-title: #729fcf
$col-hover: white

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Fira+Mono|Roboto')
@import no_spacing

*
    @extend .no-spacing
body
    font-family: 'Roboto', sans-serif

#main
    clear: both
    margin-left: auto
    margin-right: auto
    margin-bottom: 2em
    max-width: 45em

.wrapper
    margin-left: auto
    margin-right: auto
    margin: 2%

.window
    background: $col-contentbg
    color: $col-text
    border: 2px solid $col-border
    font-size: medium

a 
    color: $col-link
    border-radius: 3px
    display: inline-block
    text-decoration: none

a.tag, .entry-content a
    text-decoration: underline

a:first-letter
    color: $col-title
    text-shadow: -1px 0 $col-link, 0 1px $col-link, 1px 0 $col-link, 0 -1px $col-link

// to small for textshadow
a.tag:first-letter
    color: $col-text
    text-shadow: none

.entry-content a:first-letter
    color: $col-border
    text-shadow: none

a:visited
    color: $col-border

a:hover:first-letter, a.tag:hover:first-letter, .entry-content a:hover:first-letter
    color: $col-flash

a:hover
    color: $col-hover
    background: $col-dark


// display inline otherwise hypenation doesn't work
.entry-content
    a
        margin-right: -4px
        margin-left: -4px
        display: inline
        \+a
            margin-left: 0px
    span + a
        margin-left: 0px
    tr a
        margin: 0

a:active 
    text-decoration: underline
    text-decoration-color: $col-flash2

footer.window
    text-align: center
    width: 100%

#sidebar
    width: 20%
    margin-left: auto
    display: inline-block
    margin-right: 1%
    text-align: left
    vertical-align: top
    padding: 0.5

#content
    // about 80 characters  I guess
    width: 53% 
    margin-right: auto
    display: inline-block
    text-align: left
    vertical-align: top
    padding-left: 3%
    padding-right: 3%
    padding-top: 4%
    padding-bottom: 1%
    border-top: 2px solid $col-contentbg
    border-bottom: 2px solid $col-contentbg
    position: relative
    z-index: 1

.padded
    margin: 2% /* hehe, just kidding */

#recent_posts
    list-style: none

li
    list-style-position: outside
    padding-left: 1em
    margin-left: 1em
ol
    margin: 1em
    ol
        @extend .no-spacing
        margin-left: 1em

ul
    margin: 1em
    ul
        @extend .no-spacing
        margin-left: 1em

nav ul li:hover h3
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

nav
    display: block
    /* border: 1px solid $col-border */
    width: 100%
    margin-top: 1em
    ul
        list-style: none
        @extend .no-spacing
        // spread out evenly
        text-align: justify
        text-align-last: justify
        margin: 0 20em
        li
            @extend #main
            @extend .no-spacing
            overflow: hidden
            text-align: center
            display: inline
            .description
                font-size: 0.4em
            h2
                font-size: 1.5em

.navigation li
    margin: 0 auto

.navigation li a, #recent_posts li
    display: inline-block

.bracket
    display: inline-block
    vertical-align: super

.category-glyph
    height: 1em
    /* this works cause its inline?? */
    vertical-align: middle 

.link 
    display: inline-block
    font-family: 'Fira Mono', monospace
    text-align: center
    text-align-last: center

p
    // IDK the hyphens appear to often, I don't really like it
    // text-align: justify
    // hyphens: auto
    overflow-wrap: break-word
    line-height: 1.3
    a
        padding-left: 4px
        padding-right: 4px
        color: $col-link
    \+p
        $indent: 1.375em
        text-indent: $indent
        \> img
            margin-left: -$indent

       

footer ul li
    width: 49%
ul.horizontal
    list-style: none
ul.horizontal li
    text-align: left
    display: inline-block

/* Move title into center */
#title 
    clear: both
    overflow: hidden
    position: relative
    margin-bottom: -2px
    h1
        text-align: center

#sitename
    font-size: 3.25em
    font-family: 'Dancing Script', cursive
    /* $col-flash */
    color: $col-dark
    text-shadow: -2px 0 $col-flash, 0 1px $col-flash, 1px 0 $col-flash, 0 -1px $col-flash

pre
    font-family: 'Fira Mono', monospace
    white-space: pre-wrap       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
    white-space: -pre-wrap      /* Opera 4-6 */
    white-space: -o-pre-wrap    /* Opera 7 */
    word-wrap: break-word       /* Internet Explorer 5.5+ */
    font-size: 0.75em
    -moz-tab-size: 4
    tab-size: 4



@for $i from 1 to 6
    .entry-content h#{$i}
        margin-bottom: 0
        margin-top: 0.5em
    .outline-text-#{$i}
        margin-top: 0
    .section-number-#{$i}
        visibility: hidden
        display: none

article header
    margin-top: 1%

.entry-content img,.entry-content video
    width: 99%
    border: 2px $col-border solid
#category-title
    font-size: 4em
    font-size: 4vw
    margin-top: -45px
    margin-bottom: 25px
    \:first-letter
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
h1
    font-size: 2em
    color: $col-title

article h1
    font-size: 1.5em
article header h1
    font-size: 2em
article h2
    font-size: 1.25em
article h3
    font-size: 1.1em
article.single > footer
    border-top: 1px solid black
    font-size: 0.5vw
    margin-top: 1em
    margin-bottom: 3em

table 
    margin: 0.5em auto
caption
    caption-side: bottom
    // If I ever figure aut how to make it center below a table
    // white-space: nowrap

/* make tables less cramped */
th, td
    padding-left: 1em
td 
    padding-right: 1em
    padding-top: 0.2em
    border-right: dotted
    border-bottom: grey solid thin

abbr
    letter-spacing: 0.1em

.src-block
    margin: 1.5em 0
    text-align: center

.highlight
    padding: 1em
    border: solid gray.5em
    text-align: left
    margin-bottom: 0.25em

.figure
    @extend .src-block
    p
        text-align: inherit

.org-ref-bib
    margin-top: -1em

@import syntax
@import resize


blockquote
    font-family: Georgia, serif
    font-style: italic
    margin: 2em 3em
    border-left: 1em solid $col-border
    padding: 0.5em
    quotes: "\201C""\201D"
    padding-left: 1em

    &:before
        color: $col-border
        content: open-quote
        font-size: 4em
        line-height: 0.1em
        margin-right: 0.25em
        vertical-align: -0.4em
    p
        display: inline

// the tags at the bottom had no spacing between them for some reason
.sidebar-tags a
    margin-right: 1em

