/* 
some collours
yellow: ffff54
blue: 1818b2
light blue: 54ffff
grey-ish: 474d4d (used in the borders)
 */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Fira+Mono');
*{
font-family: 'Fira Mono', monospace;
margin: 1%; /* so responsive */
padding: 0;
}
body{
    /* 1818b2 */
    background:#1818b2;
    text-align:center;
}
.wrapper{
    margin-left: auto;
    margin-right:auto;
}
.window{
    background:#d3d7cf;
    color:#2e3436;
    border:2px solid #474d4d;
    font-size:small;
    font-size:1vw;
}
a {
    color: black;
    padding:4px;
    border-radius:3px;
    display:inline-block;
    text-decoration:none;
}
a.tag, .entry-content a{
    text-decoration:underline;
}
a:first-letter{
    color: #729fcf;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a.tag:first-letter, .entry-content a:first-letter{ /*to small for textshadow*/
    color: #1818b2;
    text-shadow: none;
}
a:visited {
    color: #1818b2;
}

a:hover:first-letter, a.tag:hover:first-letter, .entry-content a:hover:first-letter{
    color: #ffff54;
}
a:hover{
    color: white;
    background:#1818b2;
}
a:active {
    text-decoration:underline;
    text-decoration-color: #54ffff;
}
footer.window{
    text-align:center;
    width:100%;
}
#sidebar{
    width:20%;
    margin:0;
    margin-left:auto;
    display:inline-block;
    margin-right:1%;
    text-align:left;
    vertical-align:top;
	padding:0.5;
}
#content{
    width:53%; /* about 80 characters  I guess */
    margin:0;
    margin-right:auto;
    display:inline-block;
    text-align:left;
    vertical-align:top;
	padding-left:3%;
	padding-right:3%;
	padding-top:2%;
	padding-bottom:1%;
}
#main, nav ul li{
    clear:both;
    overflow:auto;
    margin:0;
}
.padded{
    margin:2%;/* hehe, just kidding */
}
nav{
    text-align:center;
    border:2px solid #474d4d;
    margin-bottom:1em;
    width:auto; /* makes the menu fit into the center of the aside somehow*/
}
nav ul, #recent_posts{
    list-style:none;
}
nav ul li{
    overflow:hidden;
    text-align:center;
    width:100%;
}
nav ul li .description{
    font-size:xx-small;
    font-size:0.5vw;
}
.navigation li a{
    width:auto;
    display:block;
}
nav ul li h3{
    display:inline-block;
    font-size:4em;
    font-size:2.5vw;
    vertical-align:super; /* I have no idea what this does, but it works */
}
nav ul li:hover{
    color:#54ffff;
}
nav ul li:hover h3{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p{
    margin-bottom:1em;
}
footer ul li{
    width:49%;
}
ul.horizontal{
    list-style:none;
}
ul.horizontal li{
    text-align:left;
    display:inline-block;
}

#title{
    clear:both;
    overflow:hidden;
}
#title a{
    font-size:3.25em;
    font-family:'Dancing Script', cursive;
	/* #ffff54 */
    color: #1818b2;
    text-shadow: -2px 0 #ffff54, 0 1px #ffff54, 1px 0 #ffff54, 0 -1px #ffff54;
/* otherwise some browsers disde to inert a line break*/
    display:block;
    width:100%; 
}
#title a:hover{
    color: #54ffff;
}
#title h1{
    float:right;
    text-align:right;
    padding-right:1%;
}
#logo{
    float:left;
    font-size:0.25vw;
    font-weight: bold;
    /* allows a little more small screen support (header becomes fucked less quickly)*/
    margin-right:0;
}
#logo span, #logo br, #logo pre{
    margin:0;
}
#title h1, #title h1 a{
    /* allows a little more small screen support (header becomes fucked less quickly)*/
    margin-left:0;
}
.category-glyph{
    height:1em;
    margin:0;
}
footer small a{
    margin:0;
}
footer {
    margin-bottom:1%;
}
.entry-content p,
article header p,
article header time,
article header h1,
article header h1 a,
article footer,
article footer a,
.entry-content a,
.entry-content {
    margin:0;
}
.entry-content p{
	padding-top:1%;
	padding-bottom:1%;
}

article header{
    margin:0;
    margin-top:1%;
}

.entry-content img{
    width:90%;
    border: 2px #474d4d solid;
}
#category-title{
    font-size:4em;
    font-size:4vw;
}
h1{
    font-size: 2em;
    color:#729fcf;
}
article h1{
    font-size: 1.5em;
}
article header h1{
    font-size: 2em;
}
article h2{
    font-size:1.25em;
}
article h3{
    font-size:1.1em;
}
article.single > footer{
    border-top: 1px solid black;
    font-size:0.5vw;
}
.link {
    display:inline-block;
    width:50%;
}
