*{
font-family:monospace;
margin: 2px;
padding: 0;
}
body{
    background:lightblue;
    text-align:center;
}
.application{
    text-align:left;
    margin-left: auto;
    margin-right:auto;
    background:grey;
    color:black;
    border:2px solid black;
    width:800px;
    height:600px;
}
h1{
    color:blue;
}
nav{
    text-align:center;
    border:2px solid black;
}
nav ul{
    list-style:none;

}
nav ul li{
    text-align:left;
    padding: 2px;
    display:inline-block;
    margin:0;
    border:2px solid black;
}
nav ul li:hover{
    background:purple;
}
.padded{
    margin:10px;/* hehe, just kidding */
}
.content{
    min-height:400px;
}
